{% extends "base.html" %}
{% block main %}
<h1 id="title_home">{{title}}</h1>
  <div class="team-grid row justify-content-center people">
    {% if current_user.is_authenticated %}
    <div class="col-md-1 col-lg-4 item">
      <div class="card" style="width: 18rem;">
        {% if album.img %}
        <img src="{{ url_for('static', filename='images/'+album.img)}}" alt="image album" id=image>
        {% else %}
        <img src="{{ url_for('static', filename='images/rien.jpg')}}" alt="image album par défaut" id=image>
        {% endif %}
        <div class="card-body">
          <h3 class="name";>{{album.title}}</h3>
          <h4 class="title">{{album.releaseYear}}</h4>
          <div class="bouton_Interprete">
            {% if album.band.name %}
              <p id="interprete">Auteur : {{album.band.name}}</p>
              {% if album.band.id %}
              {% endif %}
            {% else %}
              <p id="interprete">Auteur : Inconnu</p>
            {% endif %}
            <div>
              <p id="affichage_genre_album">Genre :</p>
              {% if genres %}
                {% for genre in genres %}
                <p id="affichage_genre_album">{{genre}}</p>
                {% endfor %}
              {% else %}
                <p id="affichage_genre_album">Aucun genre</p>
              {% endif %}
              <button type="button" class="btn"><a href="/ajout_favoris/{{album.id}}/{{current_user.username}}">Ajouter aux favoris</a></button>
              <button type="button" class="btn"><a href="/delete/album/{{album.id}}/{{current_user.username}}">Supprimer Album</a></button>
              <button type="button" class="btn"><a href="/edit/band/{{album.band.id}}">Modifier</a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  

{% endblock %}
