{% extends "bootstrap/base.html" %}
{% block title %}{{title}}{% endblock %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}"/>
{% endblock %}
{% block navbar %}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="/">
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo site" id="logo" style="max-width: 50px;">
  </a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      {% if current_user.is_authenticated %}
        <button type="button" class="btn btn-primary"><a class="dropdown-item" href="/logout/">Deconnexion</a></button>
    </li>
    <li class="nav-item">
      <div class="dropdown">
        <button type="button" class="btn btn-primary"><a class="dropdown-item" href="/nos_genres/">Filtrer par Genres</a></button>
        <button type="button" class="btn btn-primary"><a class="dropdown-item" href="/nos_artistes/">Filtre par Artistes</a></button>
      </div>
    </li>
    <li class="nav-item">
        <div class="dropdown">
          <button type="button" class="btn btn-primary"><a class="dropdown-item" href="/ajout/album">Ajouter Album</a></button>
        </div>
      </li>
      {% else %}
        <li class="nav-item">
          <button type="button" class="btn btn-primary"><a class ="nav-link" href="/inscription/">S'inscrire</a></button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-primary"><a class ="nav-link" href="/login/">Se connecter</a></button>
        <li class="nav-item">
      {% endif %}
  </ul>
  <ul class="nav navbar-nav navbar-right">
    {% if current_user.is_authenticated %}
    <li><a id="pseudo" href="/profil/{{current_user.username}}">Profil : {{ current_user.username }}</a></li>
    <li>
      <a href="{{ url_for('logout') }}">
        <span class="glyphicon glyphicon-log-out" title="Logout"></span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endblock %}
{% block content %}
<main id="main" role="main" class="container" style="background-image:url(static/images/bulle.jpg);">
{% block main %}{% endblock %}
</main>
<footer class="py-5 bg-black" style="background-color:darkslateblue;position:sticky;bottom:0;width: 100%;">
  <div class="container">
      <p class="text-center text-white m-0 small">Copyright © SpotHifi 2021</p>
  </div>
</footer>
{% endblock %}