{% extends "base.html" %}
{% block main %}
<h1 id="title_home">Tout les genres</h1>
<div class="sample">
  {% for g in genre %}
  <div class="list-group">
    <button type="button" class="list-group-item list-group-item-action"><a href="/nos_genres/{{g.id}}">{{g.name}}</a></button>
  </div>
  {% endfor %}
</div>
{% endblock %}

