{% extends "base.html" %}
{% block main %}
<h1 id="title_home">Liste des artistes</h1>
<div class="sample">
  {% for b in band %}
    <div>
      <button type="button" class="list-group-item list-group-item-action"><a href="/nos_artistes/{{b.id}}">{{b.name}}</a></button>
    </div>
  {% endfor %}
</div>
{% endblock %}
