{% extends "base.html" %}
{% block main %}
<h1 id="title_home">{{genre.name}}</h1>
  {% for a in albums %}
    <div class="team-grid">
      <div class="container">
          <div class="row justify-content-center people">
              {% for a in albums %}
              {% if current_user.is_authenticated %}
              <div class="col-md-4 col-lg-3 item">
                <div class="card" style="width: 18rem;">
                  <img id="image_home" src="{{ url_for('static', filename='images/'+a.img)}}" alt="image album">
                  <div class="card-body">
                    <h3 class="name">{{a.title}}</h3>
                    <h4 class="title">{{a.releaseYear}}</h4>
                    <a href="/album/{{a.id}}" class="btn btn-primary">Aller album</a>
                  </div>
                </div>
              </div>
              {% endif %}
              {% endfor %}
          </div>
      </div>
  {% endfor %}
{% endblock %}
