{% extends "base.html" %}
{% block main %}
<form class="form-horizontal" role="form" method="post" action="{{ url_for('ajout_album') }}">
  {{ form.hidden_tag() }}
  <div class="form-group">
    <div class="col-sm-10">
      {{ form.entryId(size=50, class_="form-control", placeholder="Durée") }}
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      {{ form.parent(size=50, class_="form-control", placeholder="Auteur") }}
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      {{ form.releaseYear(size=50, class_="form-control", placeholder="Date") }}
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      {{ form.title(size=50, class_="form-control", placeholder="Titre") }}
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      {{ form.img}}
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Enregistrer</button>
    </div>
  </div>
</form>
{% endblock %}
