{% extends "base.html" %}
{% block main %}
<h1>Edit Album: {{ album.name }}</h1>
<form role="form" action="{{ url_for('save_album') }}" method="POST">
    {{ form.hidden_tag() }}
    <div class=
      {%if form.title.errors%}
      "form-group has-error"
      {%else%}
      "form-group"
      {% endif %}
    >
    {{ form.title.label }} {{ form.title(size=50, class_="form-control") }}
    {{ form.releaseYear.label }} {{ form.releaseYear(size=50, class_="form-control") }}
    {{ form.parent.label }} {{ form.parent(size=50, class_="form-control") }}

    </div>
    {% if form.title.errors %}
    <ul class="list-group">
      {% for e in form.title.errors %}
      <li class="list-group-item list-group-item-danger">{{ e }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    <input class="btn btn-default"type="submit" value="Enregistrer">
</form>
{% endblock %}
