{% extends "base.html" %}
{% block main %}
<h1>{{ band.name }}</h1>
<form role="form" action="{{ url_for('save_band') }}" method="POST">
    {{ form.hidden_tag() }}
    <div class=
      {%if form.name.errors%}
      "form-group has-error"
      {%else%}
      "form-group"
      {% endif %}
    >
    {{ form.name.label }} {{ form.name(size=50, class_="form-control") }}
    </div>
    {% if form.name.errors %}
    <ul class="list-group">
      {% for e in form.name.errors %}
      <li class="list-group-item list-group-item-danger">{{ e }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    <input class="btn btn-default"type="submit" value="Enregistrer">
</form>

<a href="/delete/band/{{band.id}}">Supprimer Artiste</a>
{% endblock %}
