{% extends "base.html" %}
{% block main %}
<h1 id="title_home">Spot-Hifi<br>On ne vend pas la musique,On la partage</h1>
<section>
      <div class="team-grid row justify-content-center people" style="background-color:darkgrey;padding-left: 2.5em;">
          {% for a in albums %}
          {% if current_user.is_authenticated %}
          <div class="col-md-1 col-lg-4 item">
            <div class="card" style="width: 18rem;padding-left: 1em;">
              <img id="image_home" src="{{ url_for('static', filename='images/'+a.img)}}" alt="image album" style="padding-left: 4em;">
              <div class="card-body">
                <h3 class="name";>{{a.title}}</h3>
                <h4 class="title" style="padding-left: 7.5em;">{{a.releaseYear}}</h4>
                <a href="/album/{{a.id}}" class="btn btn-primary"style="margin-left: 3.5em;">Aller album</a>
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
      </div>
</section>
{% endblock %}