{% extends "base.html" %}
{% block main %}
<form class="form-horizontal" role="form" method="post" action="{{ url_for('inscription') }}">
  {{ form.hidden_tag() }}
  <div class="form-group">
    {% if erreur==1 %}
    <div class="col-sm-10">
      {{ form.username(size=50, class_="form-control", placeholder="Pseudonyme") }}
      <p class="col-sm-10" id="erreur_message">Pseudonyme est déjà pris, veuillez en choisir un autre </p>
    </div>
    {% else %}
      <div class="col-sm-10">
        {{ form.username(size=50, class_="form-control", placeholder="Pseudonyme") }}
      </div>
    {% endif %}
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      {{ form.prenom(size=50, class_="form-control", placeholder="Prenom") }}
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      {{ form.nom(size=50, class_="form-control", placeholder="Nom") }}
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      {{ form.email(size=50, class_="form-control", placeholder="Email") }}
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      {{ form.password(size=50, class_="form-control", placeholder="Mot de passe") }}
    </div>
  </div>
  <div class="form-group">
    {% if erreur == 2 %}
      <div class="col-sm-10">
        {{ form.confirmePsw(size=50, class_="form-control", placeholder="Confirmer Mot de passe") }}
        <p class="col-sm-10" id="erreur_message">Les mots de passes ne correspondent pas</p>
      </div>
    {% else %}
      <div class="col-sm-10">
        {{ form.confirmePsw(size=50, class_="form-control", placeholder="Confirmer Mot de passe") }}
      </div>
    {% endif %}
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">S'inscrire</button>
    </div>
  </div>
</form>
{% endblock %}
