{% extends "base.html" %}
{% block main %}
{% if erreur %}
  <p class="col-sm-10" id="erreur_message"> Pseudonyme ou mot de passe incorrect </p>
{% endif %}

<form class="form-horizontal" role="form" method="post" action="{{ url_for('login') }}">
  {{ form.hidden_tag() }}
  <div class="form-group">
    <div class="col-sm-10">
      {{ form.username(size=50, class_="form-control", placeholder="Pseudonyme") }}
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      {{ form.password(size=50, class_="form-control", placeholder="Mot de Passe") }}
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Se connecter</button>
    </div>
  </div>
</form>
{% endblock %}