{% extends "base.html" %}
{% block main %}

<h1> Votre profil </h1>
<section>
  <h3>Vos informations</h3>
  <p>Prénom : {{ current_user.prenom }}</p>
  <p>Nom    : {{ current_user.nom }}</p>
  <p>Votre email : {{ current_user.email }}</p>


{% if albums %}
  <div>
    <aside>
      <h3> Vos albums favoris !</h3>
      {% for album in albums %}
        <a href="/album/{{album.id}}"><img id="image_home" src="{{ url_for('static', filename='images/'+album.img)}}" alt="image album"></a>
      {% endfor %}
    </aside>
  </div>
{% else %}
  <div>
    <aside>
      <h3> Vos favoris</h3>
      <p id="information"> Vous n'avez aucun favoris</p>
    </aside>
  </div>
{% endif %}
</section>
{% endblock %}